#sidebar {
  border: solid 1px black;
  border-left: solid 3px grey;
  background-color: #282c34;
  color: #abb2c0;
}

#codebox {
  border: solid 1px black;
  background-color: #282c34;
}

.loc-span:hover {
    cursor: pointer;
}


hr {
  background-color: #abb2c0;
  height: 2px;
  border-radius: 10px;
}


body {
  background-color: #f6d3fc;
}

.question-text {
  font-weight: bold;
}

.question-butt {
  border-radius: 20px;
  min-width: 100%;
  min-height: 50px;
  background-color: rgb(246 212 252 / 83%);
}

.line-number {
  color: #abb2c0;
}

.actual-code-line {
  padding-left: 9px;
}
