#sidebar {
  border: solid 1px black;
  border-left: solid 3px grey;
  background-color: #282c34;
  color: #abb2c0;
}

#codebox {
  border: solid 1px black;
  background-color: #282c34;
  max-height: 1000px;
  overflow: scroll;
}

/* safari and chrome? */
#codebox::-webkit-scrollbar { 
  display: none; 
}

pre::-webkit-scrollbar { 
  display: none; 
}

/* .loc-span:hover {
    cursor: pointer;
} */


hr.thick-boi {
  height: 2px;
  border-radius: 10px;
}

hr.thin-boi {
  margin-top: 2px;
}

hr {
  background-color: #abb2c0;
}

.line-chip {
  /* border: solid 1px #f6d3fc;
  border-radius: 10px;
  padding: 4px; */
  color: grey;
}

body {
  background-color: #f6d3fc;
}

.question-text {
  font-weight: bold;
}

.question-butt {
  border-radius: 20px;
  min-width: 100%;
  min-height: 50px;
  background-color: rgb(246 212 252 / 83%);
}

.line-number {
  color: #abb2c0;
}

.actual-code-line {
  padding-left: 9px;
}

.back-button{
  background-color: #d4b7db;
  border-radius: 10px;
  color: black;
}

.highlight > span {
  background-color: rgba(212, 50, 219, 0.5);
}

.accordion :hover {
  cursor: pointer;
}

.has-questions:hover {
  background-color: rgba(212, 50, 219, 0.5);
  cursor: pointer;
}
